.cart {
    background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
    min-height: 100vh;
}

.cart > .header {
    margin: 0 auto;
    padding-top: 20px;
    color: white;
    font-size: 5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 500px) {
    .cart > .header {
        font-size: 3rem;
    }
}

.card {
    margin-top: 20px;
}
