.hotel {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 2% 10%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    background: white;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    min-width: fit-content;
    z-index: 1;
    flex-wrap: wrap;
}

.image {
    border-radius: 5%;
    object-fit: cover;
    width: 40vh;
    height: 40vh;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    float: left;
}

.title {
    text-align: left;
    min-width: 40vh;
    max-width: 70vh;
    height: 40vh;
    margin: 0 3%;
    vertical-align: top;
    padding-top: 0;
    border-right: black 1px solid;
}

@media (max-width: 1450px) {
    .title {
        max-width: 100vh;
    }
    .image {
        width: 100vh;
    }
    .hotel {
        display: flex;
        flex-direction: column;
    }
    .title {
        border: none;
    }
}

.title > p {
    margin-top: 50px;
}

.counter {
    display: flex;
    width: 25vh;
    align-items: center;
    justify-content: center;
}

.counter > button {
    margin: 10px;
}

.trash {
    width: 20px;
}

.trashBtn {
    background-color: transparent;
    border: none;
    float: right;
}

.trashBtn :active {
    border: none;
}

.summary {
    display: flex;
    flex-direction: column;
}