.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vh;
    margin: 0 8rem;
    padding: 2rem;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    align-items: flex-end;
    min-width: fit-content;
    z-index: 1;
    flex-wrap: wrap;
}
