.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 10% 0 auto;
    min-width: fit-content;
    max-width: 100vh;
    min-height: 100%;
    padding: 2rem;
    color: white;
    border-radius: 3px;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 1450px) {
    .subtotal {
        margin: 0;
    }
}

.buy-btn {
    width: 100px;
    height: 50px;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}